@using PJ_SourceMau.Models
@using PJ_SourceMau.Caption

@model List<DrugDetails>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        // $('.table').DataTable();
        var table = $('#ListStore').DataTable();
        $('#confirm-delete').on('show.bs.modal', function (e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });
        $('#Alerbox').remove('hide');
        $('#Alerbox').delay(1000).slideUp(500);

        $('.btn-close').off('click').on('click', function () {
            $('#drugname').val('');
            $('#note').val('');
            $('#price').val('');
        });

        $('.btn-edit').off('click').on('click', function () {
            var idtest = $(this).data('id');
            var detailDrug = GetDetailByID(parseInt(idtest));
            $('#idstore').val(detailDrug.iddrugstore);
            $('#DrugdetailID').val(detailDrug.id);
            $('#drugname').val(detailDrug.drugname);
            $('#note').val(detailDrug.note);
            $('#price').val(detailDrug.price);
        });

        function GetDetailByID(id) {
            var item;
            $.ajax({
                url: "/API/DetailDrugStore/GetdetailDrugStore/",
                data: {
                    id: id
                },
                async: false,
                success: function (i, result) {
                    item = i;
                    console.log(item);
                }
            });
            return item;
        }
    })



</script>

<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <ol class="breadcrumb page-breadcrumb" style="  margin-right: 500px">
        <li><i class="fa fa-book"></i>&nbsp;<a href="#">@CaptionKey.AdminMenu</a></li>
        <li><a href="/admin/ListStore/">@CaptionKey.ListDrugStore</a></li>
        <li class="active"><a href="#">@CaptionKey.ListDrugDetailStore</a></li>&nbsp;&nbsp;
        <li data-toggle="modal" data-target="#detailDrugStoreModal">Thêm mới</li>
    </ol>
    <div class="clearfix"></div>
</div>
<div class="page-content">
    <div class="panel panel-blue">
        <div class="panel-heading">@CaptionKey.ListDrugStore</div>
        <div class="panel-body pan">
            <br />
            <table class="table table-striped table-condensed table-hover" id="ListStore">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>TÊN THUỐC </th>
                        <th>GIÁ THUỐC</th>
                        <th>CHI TIẾT</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody id="Group-Body">
                    @{ var stt = 0;}
                    @foreach (DrugDetails row in Model)
                    {
                        stt++;
                        <tr>
                            <td>@stt</td>
                            <td>@row.drugname</td>
                            <td>@row.price</td>
                            <td> @row.note</td>
                            <td>
                                <a href="#" data-href="/Admin/DetailDrugStore/Delete/@row.id" data-toggle="modal" data-target="#confirm-delete" class="btn btn-danger "><i class="fa fa-close"></i></a>
                                <button data-id="@row.id" class="btn btn-success btn-edit" role="button" aria-disabled="true" data-toggle="modal" data-target="#detailDrugStoreModal"><i class="fa-lg btn-control fa fa-pencil-square-o"></i></button>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                ARE YOU SURE DELETE ?
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="detailDrugStoreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add/Update Thuốc</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmEditDetailDrug" action="/Admin/DetailDrugStore/insert" method="post">
                    <input class="hide" id="DrugdetailID" name="id" value='' />
                    <input class="hide" id="idstore" name="idstore" value="@ViewData["idstore"]" />
                    <div class="form-group">
                        <label for="name">Tên Thuốc</label>
                        <div class="controls">
                            <input id="drugname" name="drugname" class="form-control" type="text" value='' />
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="drugname">Giá Thuốc</label>
                        <div class="controls">
                            <input id="price" name="price" class="form-control" type="number" value='' />
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="price">Chi Tiết Thuốc</label>
                        <div class="controls">
                            <input id="note" name="note" class="form-control" type="text" value='' />
                            <span class="help-block"></span>
                        </div>
                    </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">Close</button>
                <button type="submit" id="btnSave" class="btn btn-primary">save</button>&nbsp;
            </div>
            </form>
        </div>
    </div>
</div>

